apiVersion: v1
kind: Service
metadata:
  name: nginx-service-statefulset-resizable-loadbalancer
  labels:
    app: nginx-stateful-resizable
spec:
  type: LoadBalancer
  ports:
  - port: 80
    name: web-resizable
  selector:
    app: nginx-stateful-resizable
